include includes/head
link(rel="stylesheet" href="https://gomix.com/styles.css")
script(src="https://code.jquery.com/jquery-3.0.0.min.js")
script(src="https://gomix.com/error-page.js")

body.error-page
  .container
    h1 Page Not Found
    h2 Maybe a typo? Or perhaps it's moved?
    .actions
      a(href="https://gomix.com/community/")
        .hyperdev-logo.bird
  canvas#stars
