include includes/head

body.categories-page
  include includes/header
  main(role="main")

    include includes/categories-list

  include includes/footer
  include includes/overlay
  include includes/scripts
