defaultUserBackground = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fdefault-user-background.svg"
anonAvatar = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fanon-avatar.svg"

.profile
  a.category-name
    color: primary
    display: inline-block

  .avatar
    width: 128px
    height: 128px
    border-radius: 5px
    background-color: #ff9891 // overriden by avatar color from ls

  .anon-avatar
    background-image: url(anonAvatar)
    background-position: center
    